.mainContainer{
  display: flex;
  justify-content: space-around;
  background-color: black;
  top: 0;
  width: 100%;
  box-shadow: 0px 5px 24px rgba(149, 157, 165, 0.4);
  
}

.container{
    display: flex;
    align-items: center;
    padding: 15px 180px;
    height: 40px;
}

.productLink {
text-decoration: none;
color: #fff;
border-radius: 2px;
font-weight: bold;
padding: 0 1px;
transition: all 0.2s ease;
padding-right: 50px;
}
.navigation a{
  text-decoration: none;
}
.productLink:hover {
    color: #0b499b;
    border-bottom-color: #0b499b;
  }

.iconContainer {
    position: relative;
  }
  
  .iconContainer img{
    width: 40px;
    color: #fff;
    margin-top: 7px;
  }

  .iconContainer span{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0b499b;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 50%;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin-top: 7px;

  }


  @media (max-width: 1200px){
.container{
    padding: 15px 80px;
}
  }
  
@media (max-width: 768px){
    .container{
        padding: 15px 40px;
    }
}

@media (max-width: 555px) {
    .container {
      padding: 15px 20px;
    }
  }
  
@media (max-width: 480px) {
  .container {
    padding-top:15px 10px;
  }
  .productLink{
    padding-right: 15px;
    font-size: smaller;
  }
}