.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 150px 150px 50px;
    padding: 20px;
    text-align: center;
    border: 1px solid silver;
    border-radius: 10px;
    transition: all 0.2s ease;
    background-color: #fff;
}
.container img{
    /* border: 1px solid silver; */
    border-radius: 5px;
    height: 300px;
}
.information{
    display: flex;
    flex-direction: column;
    border: 1px solid silver;
    border-radius: 10px;
    margin-left: 30px ;
    padding: 20px;
    text-align: left;
    height: 15rem;

}
.information h1{
    color: #1a73e8;
    margin: 20px 0 30px;
}
.information h3{
    color: rgb(62,62,62);
    margin-bottom:30px ;
}
.icon{
  width: 25px;
}
.icons{
  display: flex;
 
}



@media (max-width: 768px) {
    .container {
      margin: 120px 40px 50px;
      justify-content: center;
    }
    .textContainer {
      margin: 0;
    }
  }
  
@media (max-width: 555px) {
    .container {
      margin: 120px 20px 50px;
      justify-content: center;
    }
    .container img{
      border: 1px solid silver;
      border-radius: 5px;
      height: 150px;
  }
    .information h1{
      color: #1a73e8;
      margin: 5px 0 10px;
      font-weight: bold;
  }
  .information h3{
      color: rgb(62,62,62);
      margin-bottom:30px ;
      font-size:small;
  }

  }
  @media (max-width: 480px) {
    .container {
        margin: 30px 0px 15px;
        justify-content: center;
      }
      .container img{
        border: 1px solid silver;
        border-radius: 5px;
        height: 25vh;
    }
      .information h1{
        color: #1a73e8;
        margin: 5px 0 10px;
        font-size: smaller;
        font-weight: 50;
    }
    .information h3{
        color: rgb(62,62,62);
        margin-bottom:30px ;
        font-size:xx-small;
    }


  }
